{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <div class="page-list_default mx-auto min-h-screen">

    <div class="mb-16">
      {{- partial "_components/page-heading.html" . -}}
    </div>

    <div class="lg:flex flex-wrap md:flex-row-reverse mx-auto">

      <aside class="lg:w-1/3 md:px-8 pb-8">
        {{- partial "_components/category-tag-listing.html" . -}}
      </aside>

      <section class="lg:w-2/3 pt5 min-vh-100">
        <div class="list-display">
          {{ range .Paginator.Pages }}
            {{- partial "summary.html" . -}}
          {{ end }}
        </div>
      </section>
    </div>

    {{- template "_internal/pagination.html" . -}}
  </div>
{{ end }}
