{{ define "main" }}
    {{ $data := .Data }}
  <article class="page-list_default mx-auto min-h-screen">
    <div class="measure-wide-l mx-auto text-xl leading-normal nested-copy-line-height nested-no-underlines nested-img mid-gray">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 mx-auto">
    <section class="px-4">
      {{ range $key, $value := .Data.Terms }}
        <h2 class="f1">
          <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="no-underline blue hover:text-black">
            {{ $.Data.Singular | humanize }}: {{ $key }}
          </a>
        </h2>
        {{ range $value.Pages }}
          {{ partial "summary.html" (dict "item" . ) }}
        {{ end }}
      {{ end }}
    </section>
  </div>
{{ end }}
